.night {
  visibility: hidden;
  margin: 0;
  margin-top: -9vh;
}

.header-david {
  text-align: center;
  color:#dededf;
  margin-right: 3vh;
  margin-left: 3vh;
}

.lenguajes {
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 5vw;
}

#lenguajes-1 {
  margin-top: 5vh;
}

.lenguajes li {
  list-style-type: none;
}

.lenguajes img {
  height: 4.5vh;
  transition: transform 0.3s ease;
}

.lenguajes a:hover img {
  transform: translateY(-8px);
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  background-color: #292929;
  padding-bottom: 3vh;
  padding-right: 25vw;
  padding-left: 25vw;

  position: sticky;
  top: 0;
  z-index: 1000;
}

header li {
  list-style-type: none;
}

main {
  background-color: #9e9e9e;
  min-height: 120vh;
}

.redes {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10%;
  margin-top: 15%;
}

.img-redes {
  opacity: 100%;
  height: 6vh;
  transition: opacity 0.3s ease;
}

.img-redes:hover {
  opacity: 60%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #292929;
}

.img-perfil {
  display: flex;
  margin: auto;
  margin-top: 4vh;

  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-color: #cdcdcd;
  border-style: solid;
  border-top-color: #9e9e9e;
  border-left-color: #9e9e9e;
  border-right-color: #9e9e9e;
  border-width: 0.6vh;

  object-fit: cover;

  box-shadow: 0 8px 20px rgba(255,255,255,0.2);
}

@media (max-height: 500px) {
  .img-perfil {
    width: 30%;
  }
  .lenguajes img {
    height: 10vh;
  }
  .img-redes {
    height: 15vh;
  }
}

@media (min-width: 700px) {
  .night {
    margin-top: -2vh;
  }
}


@media (min-width: 1024px) {

  .perfil {
    padding-bottom: 1vh;
  }

  .night {
    visibility: visible;
    margin-bottom: -14vh;
    margin-top: 12vh;
    margin-left: 25vw;
    color:#dededf;
  }

  .header-david {
    visibility: hidden;
  }

  #lenguajes-1 {
    margin-top: 2vh;
    position: absolute;
    top: 18vh;
    left: 24.88vw;
  }

  #lenguajes-2 {
    position: absolute;
    top: 28vh;
    left: 24.88vw;
  }

  .lenguajes img {
    height: 6vh;
  }

  main {
    position: relative;
    min-height: 108vh;
  }

  .App {
    flex-direction: column;
  }

  .App-header {
    display: flex;
    flex-direction: row;
  }

  .img-perfil {
    width: 15%;
    margin-left: 5%;

    border-right-color: #cdcdcd;
    border-bottom-color: #9e9e9e;

    box-shadow: 10px 0 25px rgba(255,255,255,0.2);
  }

  .redes-div {
    margin-left: -37%;
  }
}