@font-face {
  font-family: 'Harabara';
  src: url('./fuentes/HarabaraMais.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Harabara', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
